Assignment\ 1/data/
Assignment\ 1/Q1/wandb/
Assignment\ 1/Q1/model_1.pth
Assignment\ 1/Q1/model_2.pth
Assignment\ 1/Q1/model_3.pth
Assignment\ 1/Q2/wandb/
Assignment\ 1/Q2/model_1.pth
Assignment\ 1/Q2/model_2.pth
Assignment\ 2/data/